<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%# <%= link_to root_path, class: "navbar-brand" do %>
     <%# <%= image_tag("yenza_io.png")%>
    <%# <% end %>
    <%= image_tag("yenza_io.png", :class=> 'navbar-brand')%>


    <%# <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> %>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class = "nav-link" href="#services" data-controller="scroll-to">Services</a>
          </li>
          <li class="nav-item active">
            <a class = "nav-link" href="#aboutme" data-controller="scroll-to">About me</a>
          </li>
          <li class="nav-item">
            <a class = "nav-link" href="#contact-footer" data-controller="scroll-to">Contact</a>
          </li>
          <li class="nav-item">
            <a class = "nav-link" href="#nonprofit" data-controller="scroll-to">Non-profit</a>
          </li>


      </ul>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto flags">
          <li class="nav-item">
            <%= link_to root_path, class: "flag-no" do %>
              <%= image_tag("us.png") %>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to fr_path, class: "flag-no" do %>
              <%= image_tag("fr.png") %>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to de_path, class: "flag" do %>
              <%= image_tag("de.png") %>
            <% end %>
          </li>
      </ul>
    </div>

  </div>
</div>
