<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%# <%= link_to root_path do %>
    <%= image_tag("yenza_io.png", class: 'navbar-brand')%>

    <%# <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> %>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class = "nav-link" href="#services" data-scroll-to-offset-value="150" data-controller="scroll-to">Services</a>
          </li>
          <li class="nav-item active">
            <a class = "nav-link" href="#aboutme" data-scroll-to-offset-value="150" data-controller="scroll-to">About me</a>
          </li>
          <li class="nav-item">
            <a class = "nav-link" href="#contact-footer" data-scroll-to-offset-value="150" data-controller="scroll-to">Contact</a>
          </li>
          <li class="nav-item">
            <a class = "nav-link" href="#nonprofit" data-scroll-to-offset-value="150" data-controller="scroll-to">Non-profit</a>
          </li>
      </ul>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item dropdown">
            <img class="dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="/assets/fr.png" />
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <%= link_to root_path do %>
                  <p><%= image_tag("us.png", class: "flag dropdown-item") %>EN</p>
                <%end %>
                <%= link_to de_path do %>
                  <p><%= image_tag("de.png", class: "flag dropdown-item") %>DE</p>
                <%end %>
            </div>
          </li>
      </ul>
    </div>
  </div>
</div>
