<!DOCTYPE html>
<html>
  <head>
    <title>Yenza</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <link href="https://api.mapbox.com/mapbox-gl-js/v1.11.1/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.js"></script>
  </head>

  <body>
    <% if current_page?(root_path) %>
      <%= render "pages/components/navbar" %>
      <%= yield %>
      <%= render "pages/components/footer" %>
    <%end%>
    <% if current_page?(fr_path) %>
      <%= render "pages/components/navbar-fr" %>
      <%= yield %>
      <%= render "pages/components/footer-fr" %>
    <%end%>
    <% if current_page?(de_path) %>
      <%= render "pages/components/navbar-de" %>
      <%= yield %>
      <%= render "pages/components/footer-de" %>
    <%end%>
  </body>
</html>
